# Exemple de variables d'environnement pour Render + TiDB
DB_HOST=host-tiDB
DB_PORT=4000
DB_USER=utilisateur
DB_PASSWORD=motdepasse
DB_NAME=nom_de_la_base
DB_SSL=true
JWT_SECRET=uneCleSecrete
NODE_ENV=production
